@use "../../assets/styleStorage.scss" as styleStorage;

.header {
  @include styleStorage.flex(space-around, center, row, wrap);

  width: 100%;
  padding-top: 10px;

  .title {
    @include styleStorage.blur-border();

    font-family: "Sofia";
    font-size: 3vw;

    padding: 5px 15px;

    border-radius: 100% 100% / 40% 40%;

    cursor: default;
    span:first-child {
      color: styleStorage.$orange;
      filter: drop-shadow(0 0 0.75rem styleStorage.$blue);
      &:after {
        background-image: url("../../assets/imgs/PngItem_5680583.png");
        background-size: styleStorage.$afterImgTitleWH
          styleStorage.$afterImgTitleWH;
        background-repeat: no-repeat;
        display: inline-block;
        width: styleStorage.$afterImgTitleWH;
        height: styleStorage.$afterImgTitleWH;
        content: "";
      }
    }
    span:last-child {
      color: styleStorage.$blue;
      filter: drop-shadow(0 0 0.75rem styleStorage.$orange);
    }
  }
}

.user {
  @include styleStorage.flex(center, center, row, wrap);

  min-width: 27%;
  .status {
    @include styleStorage.blur-border();
    border-radius: 10% 10% / 100% 100%;
    font-size: 1vw;
    z-index: 0;

    position: relative;
    right: -3rem;

    padding: 0 0.2rem;

    @media screen and (max-width: 1145px) {
      display: none;
    }
  }

  .avatar {
    @include styleStorage.blur-border();
    border-radius: 50%;

    padding: 0.3vw;

    width: styleStorage.$avatarWH;
    height: styleStorage.$avatarWH;

    z-index: 1;

    cursor: pointer;

    &:hover {
      transition: transform 0.6s;
      transform: rotate(360deg);
    }
  }
  .name {
    @include styleStorage.blur-border();
    border-radius: 10% 10% / 100% 100%;

    min-width: 40%;

    font-size: 24px;

    position: relative;
    left: -3%;

    z-index: 0;

    cursor: pointer;

    &:hover {
      transition: background-color 0.5s, color 0.5s;
      background-color: white;
      color: purple;
    }

    @media screen and (max-width: 1372px) {
      display: none;
    }
  }

  .btn__login {
    &:hover {
      background-color: green;
      color: white;
    }
    &:nth-child(2n):hover {
      background-color: green;
      color: white;
    }
  }
  .btn__logout {
    &:hover {
      background-color: rgb(94, 0, 0);
      color: white;
    }
    &:nth-child(2n):hover {
      background-color: rgb(94, 0, 0);
      color: white;
    }
  }
  @media screen and (max-width: 1372px) {
    min-width: fit-content;
  }
}
