:root {
  font-family: "Asul", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/imgs/Scenery-Fantasy-Landscape-Digital-Art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  overflow-y: hidden;
  overflow-x: hidden;
}
