@use "../../assets/styleStorage.scss" as styleStorage;

.rec__anime__items {
  @include styleStorage.flex(space-around, center, row, nowrap);

  padding: 5px;

  .img__notfound {
    @include styleStorage.blur-border();
    border-radius: 10px;

    width: 4vw;
    height: 4vw;
  }

  .title {
    font-size: 1.5vw;
    min-width: 60%;

    text-decoration: underline;

    @media screen and (max-width: 1100px) {
      font-size: 1.7vw;
    }
  }

  .btn {
    background-color: white;

    &:hover {
      background-color: transparent;
    }
  }
}
