@use "../../assets/styleStorage.scss" as styleStorage;

.icon__container {
  @include styleStorage.blur-border();
  border-radius: 10px;

  background-color: white;

  width: 60px;
  height: 60px;

  padding: 5px;

  cursor: pointer;

  transition: width 0.5s, height 0.5s;
}
