@use "../../../assets/styleStorage.scss" as styleStorage;

.anime__item {
  @include styleStorage.flex(center, center, column, wrap);

  @include styleStorage.blur-border(10px);

  width: 430px;

  margin-bottom: 3vh;

  .image {
    @include styleStorage.flex(center, center, row, nowrap);

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    text-align: center;
    font-size: 1.5vw;

    width: 100%;
    height: 15rem;

    .img {
      width: 100%;
      height: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
  .title {
    @include styleStorage.flex(space-around, center, row, nowrap);

    text-align: center;

    padding: 0.4vw;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;

    .editable {
      @include styleStorage.flex(center, center, row, nowrap);
      .icon {
        height: auto;
        padding: 0;
        padding-top: 0.2em;
        box-shadow: none;

        &:last-child {
          background-color: rgb(4, 30, 102);
        }
        &:hover {
          background-color: transparent;
          border: 1px solid black;
          box-shadow: 3px 3px 6px black;
        }
      }
    }
  }
}
