@use "../../assets/styleStorage.scss" as styleStorage;

.card {
  @include styleStorage.flex(center, space-around, column, wrap);
  @include styleStorage.blur-border();
  border-radius: 10px;

  padding: 5px;

  width: 30%;

  .title {
    font-size: 28px;
    border-bottom: 1px solid white;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .content {
    @include styleStorage.flex(center, space-around, column, wrap);
    padding: 5px;
  }
}
