@use "../../../assets/styleStorage.scss" as styleStorage;

.btn__general {
  @include styleStorage.blur-border(10px);
  font-family: styleStorage.$font-family;
  padding: 0.5em;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;

  &:hover {
    background-color: white;
    color: styleStorage.$blueVariant;
    box-shadow: 4px 4px 12px black;
    transition: box-shadow 0.2s, background-color 0.5s, color 0.5s;
  }
  &:nth-child(2n):hover {
    color: styleStorage.$orange;
  }
  &:disabled,
  &:disabled:hover {
    background-color: styleStorage.$disabledColor;
    color: styleStorage.$disabledColor;
    box-shadow: none;
    cursor: default;
  }
}

.btn__bigScreen {
  @media screen and (min-width: 1440px) {
    min-width: 5.5vw;
    font-size: 0.9vw;
    margin-right: 0.2%;
  }
}
