@use "../../assets/styleStorage.scss" as styleStorage;

.wide__form {
  width: 60%;
}

.titles__description {
  @include styleStorage.flex(space-around, center, row, nowrap);

  width: 100%;

  .textarea {
    width: 45%;
    height: 12vh;
  }
}

.seasons__series__years {
  @include styleStorage.flex(space-around, center, row, nowrap);

  width: 100%;

  .inputWide {
    width: 30%;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}

.hint {
  font-size: 1.5rem;
  margin: 1vh 0 1vh;
  border-bottom: 1px solid white;
  width: 90%;
}

.wide__page {
  @include styleStorage.flex(space-around, center, row, nowrap);
}

.adding__instrument {
  @include styleStorage.flex(center, center, column, nowrap);
  width: fit-content;
  .btn__adding {
    margin-bottom: 5vh;
    width: 20vh;
  }
}

.imgs__container {
  @include styleStorage.flex(center, center, column, nowrap);
  .item {
    @include styleStorage.flex(space-around, center, row, nowrap);
    width: 25vh;

    .img {
      @include styleStorage.blur-border();
      border-radius: 10px;

      width: 20vh;
      height: 17vh;
      margin: 0 0 1vh 0.5vh;
    }
  }
}
