@use "../../../assets/styleStorage.scss" as styleStorage;

.form__select__option {
  font-size: 1.2rem;
  font-family: "Asul";

  padding: 1vh;

  background-color: transparent;

  &:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:checked {
    background: rgb(0, 153, 0);
    color: white;
  }
  &:hover {
    background: rgb(0, 153, 0);
    color: black;
  }
}
