@use "../../../assets/styleStorage.scss" as styleStorage;

.card__general {
  @include styleStorage.blur-border(10px);
  padding: 0.5em;

  .card__general__title {
    border-bottom: 1px solid white;
    margin-bottom: 0.5%;
  }
  .card__general__content {
    padding: 0.5em;
  }
}

.card__flex__column {
  @include styleStorage.flex(center, space-around, column, wrap);
}

.card__flex__row {
  @include styleStorage.flex(space-around, center, row, wrap);
}

.card__bigScreen {
  @media screen and (min-width: 1440px) {
    font-size: 1.2vw;
  }
}
