@use "../../assets/generalStyles/mixins.scss" as mixins;
@use "../../assets/generalStyles/colors.scss" as colors;

.labeled__container {
  @include mixins.flex-config(column, flex-start, center);

  min-width: 20vw;
  min-height: 5vw;

  background-color: colors.$logoBackColor;

  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 1vw;
  }

  @media screen and (max-width: 425px) {
    &:not(:last-child) {
      margin-bottom: 3vw;
    }
  }

  div:not(:first-child) {
    margin-top: 2%;
  }

  .title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;

    font-family: "Sofia", sans-serif;
    font-size: 1.3vw;

    width: 100%;

    background-color: colors.$silver;

    @media screen and (max-width: 425px) {
      font-size: 5vw;
    }
  }

  .content {
    @include mixins.flex-config(column, flex-start, center);
    margin: 2% 0.5vw;
  }
}
