@use "../../assets/styleStorage.scss" as styleStorage;

.searchbar {
  width: 40%;
  .input {
    @include styleStorage.blur-border(10px);
    background-color: transparent;
    color: white;
    font-size: 1.1vw;
    width: 100%;
    height: 5vh;
  }
}
