@use "../../assets/styleStorage.scss" as styleStorage;

.search {
  @include styleStorage.flex(space-around, center, row, nowrap);
  width: 40%;

  .btn__controll {
    background-color: white;
    &:hover {
      background-color: styleStorage.$blueVariant;
      color: white;
    }
  }
}
